/* banner swiper 轮播图 begin -- indexSlide.css */
html,
body {
	position: relative;
	height: 100%;
}

.banner.swiper-container {
	width: 100%;
	/*height: 474px;*/
	margin-left: auto;
	margin-right: auto;
}

.banner .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.banner .swiper-slide img{
	display:block;
	width:100%;
}
.banner.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	display: inline-block;
	width: 120px;
	height: 4px;
	border-radius: 0;
	background: #555;
	opacity: 0.8;
	cursor: pointer;
	color: rgba(0, 0, 0, 0);
}
.banner .swiper-pagination-bullet-active{
	background:#00CC00!important;
}
/* banner swiper 轮播图  end */


/* 3D轮播 begin */
.newOffer{
	height: 289px;
    background-color: #F2F2F2;
    -moz-box-shadow: 0px 8px 6px -3px rgba(153,153,153,0.6) inset;
    -webkit-box-shadow: 0px 8px 6px -3px rgba(153,153,153,0.6) inset;
    box-shadow: 0px 8px 6px -3px rgba(153,153,153,0.6) inset;
}

.lb_gl {
	height: 289px;
	padding: 35px 0 30px;
}

.container {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

.pictureSlider {
	height: 224px;
	padding-bottom: 60px;
}

.poster-item {
	background: #fff;
	height: 225px;
	width: 617px;
	border-radius: 10px;
	/*padding: 0 23px 20px 23px;*/
	transition: all 0.5s;
	cursor: default;
	-moz-transition: all 0.5s;
	cursor: default;
	-webkit-transition: all 0.5s;
	cursor: default;
	-o-transition: all 0.5s;
	cursor: default;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(153,153,153,0.8);
    box-shadow: 5px 5px 5px 0px rgba(153,153,153,0.8);
}

.poster-item img{
	display:block;
	width:100%;
}

.turn_3d {
	text-align: center;
	color: #fff;
	font-weight: 400;
	font-size: 36px;
	padding: 28px 0;
}

.xxgy {
	font-size: 30px;
	font-weight: 900;
	padding-left: 10px;
}

.poster-item .say {
	font-size: 18px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.students_star {
	padding: 10px 10px 0 10px;
}

.cell_list {
	margin-bottom: 20px;
	color: #999;
	font-size: 18px;
	overflow: hidden;
}

.darks {
	color: #000;
	padding-left: 10px;
}

.zwjs {
	border-top: 1px solid #d0cddb;
	line-height: 26px;
	padding-top: 5px;
	color: #999;
	font-size: 12px;
	max-height: 84px;
	overflow: hidden;
}

.for_btn {
	position: relative;
	height: 214px;
	overflow: hidden
}

.in_page {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
}

.in_page>img {
	width: 40px;
	height: 40px;
}

.check_more {
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background: #bc241d;
	margin: 0 auto;
	display: block;
}
/* 3D轮播   end */


/* 成功案例 视频  组滑动   begin   successSlide.css*/
.success a{
	text-decoration: none;
	color: #0287CA;
	font-size: 14px;
}
.success .list{
	position:relative;
	width:1200px;
	height:270px;
	margin:30px auto 0;
	overflow:hidden;
}
.success .list h3{
	background:#3B5998;
	height:26px;
	line-height:26px;
	padding-left:20px;
	font-size:14px;
	color:#fff;
}
.success .list ul{
	height:299px;
}
.success .list ul li{
	position:relative;
	display:inline;
	float:left;
	width:285px;
	margin:7.5px;
	padding-bottom:20px;
	box-shadow: 0px 0px 10px 1px rgba(237,120,41,0.6)
}
.success .list ul li .img{
	width:265px;
    height:149px;
    margin:10px;
}
.success .list ul li .img img{
	display:block;
	width:265px;
    height:149px;
}
.success .list ul li .pause{
	position:absolute;
	top:62px;
    left:40%;
	width:45px;
    height:45px;
    cursor:pointer;
}
.success .list ul li .pause img{
	display:block;
	width:45px;
    height:45px;
}
.success .list ul li .text{
	padding:5px 0 0 30px;
}
.success .list ul li .text .name{
	font-size:14px;
    line-height:14px;
    font-weight:400;
}
.success .list ul li .text .CutOff{
	margin:10px 0 10px 0!important;
}
.success .list ul li .recommend{
	font-size:12px;
    line-height:12px;
}
/* 成功案例 视频  组滑动 end */





/* 艺术咨询  轮播 begin artNewsSlide.css */
.artNew .slideContent{
	position: relative;
	float:left;
	width:312px;
	height:380px;
}
.artNew .flexslider {
	float:left;
	overflow: hidden;
	width: 100%;
	height: 348px;
	max-width: 312px;
	box-shadow: 0px 0px 10px 1px rgba(237,120,41,0.6);
}

.artNew .slides {
	/*position: relative;*/
	z-index: 1;
}

.artNew .slides li {
	height: 348px;
}

.artNew .flex-control-nav {
	position: absolute;
	bottom: -5px;
	z-index: 2;
	width: 100%;
	text-align: center;
}

.artNew .flex-control-nav li {
	display: inline-block;
	width: 50px;
	height: 4px;
	margin: 0 5px;
	*display: inline;
	zoom: 1;
}

.artNew .flex-control-nav .flex-active {
	background-position: 0 0;
}

.artNew .flex-direction-nav {
	position: absolute;
	z-index: 3;
	width: 100%;
	top: 45%;
}

.artNew .flex-control-nav li a{
	display: inline-block;
    width: 50px;
    height: 4px;
    border-radius: 0px;
    background: #999;
    margin: 0 5px;
    opacity: 0.8;
    cursor: pointer;
    color:transparent;
    overflow:hidden;
}
.artNew .flex-control-nav li a.flex-active{
	background: #ed7523;
}
/* 艺术资讯   轮播 end */